[user]
	email = limeng1300881350@gmail.com
	name = kense
[pull]
	rebase = true
[push]
	default = matching
[core]
	trustctime = false
	editor = vim
	filemode = false
	excludesfile = ~/.gitignore
	autocrlf = input
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	last = log -1 --stat
	cp = cherry-pick
	si = svn info
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci%x08%x08%x08%x08%x08%x08) %Cblue<%an>%Creset' --date=format:'%F %T' --abbrev-commit --all
[log]
	date = local
[icdiff]
	options = --highlight --line-numbers
