source ~/.vim/init.vim

set noundofile
set nobackup
set noswapfile

set noerrorbells
set novisualbell
set t_vb=
set tm=500

set surround
set multiple-cursors
set showmode
set hlsearch
set incsearch

set so=5

command! Evi vs ~/.ideavimrc
command! Svi source ~/.ideavimrc


" 查找
nnoremap <C-n> :action GotoClass<CR>
nnoremap <C-p> :action GotoFile<CR>

" 新建文件
nnoremap <Leader>nc :action NewClass<CR>
nnoremap <Leader>np :action NewDir<CR>
nnoremap <Leader>nf :action NewFile<CR>

" 格式化
nnoremap <leader>fm :action ReformatCode<CR>
nnoremap <Leader>oi :action OptimizeImports<CR>

" 跳转
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gR :action FindUsages<CR>

" 补全
nnoremap <Leader><space> a<space><ESC>:action CodeCompletion<CR>

" 类结构
nnoremap <C-S-o> :action FileStructurePopup<CR>
nnoremap <leader>hc :action TypeHierarchy<CR>

