source ~/.vim/vimrc

set noundofile
set nobackup
set noswapfile

set noerrorbells
set novisualbell
set t_vb=
set tm=500

set surround
set multiple-cursors
set showmode
set hlsearch
set incsearch

set so=5

inoremap <left> <left>
inoremap <right> <right>
inoremap <up> <up>
inoremap <down> <down>

nnoremap <Leader>su :action ShowUsages<CR>

nnoremap <Leader>fu :action FindUsages<CR>

nnoremap <Leader><space> a<space><ESC>:action CodeCompletion<CR>

nnoremap <C-n> :action GotoClass<CR>
nnoremap <leader>gc :action GotoClass<CR>

nnoremap <leader>fe :action RecentFiles<CR>

nnoremap <C-p> :action GotoFile<CR>

nnoremap <C-S-o> :action OverrideMethods<CR>

nnoremap <leader>ss :action FileStructurePopup<CR>

nnoremap <C-S-p> :action ParameterInfo<CR>

nnoremap <C-q> :action QuickJavaDoc<CR>

nnoremap <leader>hc :action TypeHierarchy<CR>

nnoremap <leader>hm :action MethodHierarchy<CR>

nnoremap gd :action GotoDeclaration<CR>

nnoremap gi :action GotoImplementation<CR>

nnoremap <leader>fm :action ReformatCode<CR>

nnoremap <Leader>oi :action OptimizeImports<CR>

nnoremap <Leader>nc :action NewClass<CR>
nnoremap <Leader>np :action NewDir<CR>
nnoremap <Leader>nf :action NewFile<CR>

