extends javascript

snippet vue "vue template" b
<template>
  <div></div>
</template>

<script>
export default {
  data: function () {
    return {}
  },
	methods: {}
}
</script>

<style lang="scss" scoped>
</style>
endsnippet
